.button {
  color: var(--main-button-text);
  font-size: 1.24rem;
  line-height: 116%;
  font-weight: 600;
  background-color: var(--main-button-bg);
  border: none;
  border-radius: 0.75rem;
  padding: 1.3125rem 1.5rem;
  min-width: 18.5rem;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--main-button-hover-bg);
  }

  &:active {
    background-color: var(--main-button-pressed-bg);
  }
}