.game {
  height: inherit;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 367px;
  background-color: var(--black-5);

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  &__menu {
    z-index: 4;
    top: 0;
    right: 0;
    position: absolute;
    background-color: unset;
    border: none;
    padding: 1rem;
    cursor: pointer;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &__content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10% 10% 8% 8%;

    &__text {
      font-size: var(--question-font-size);
      font-weight: 600;
      line-height: 116%;
    }

    &__btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 1rem;

      & > * {
        flex: 0 1 50%;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        & > * {
          flex: 0 0 100%;
          width: 100%;

        }
      }
    }
  }

  &__rewards {
    height: inherit;
    background-color: var(--white-100);
    overflow: hidden;
    display: flex;
    justify-content: center;

    &_desktop {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    &_mobile {
      z-index: 3;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;

      @media screen and (min-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 992px) {
        display: flex;
        max-width: 367px;
      }

      @media screen and (max-width: 576px) {
        max-width: unset;

      }
    }
  }
}