.result {
  height: inherit;

  &__contatiner {
    height: inherit;
    box-sizing: border-box;
    padding-bottom: 4.8125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;

    @media screen and (max-width: 950px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      padding-bottom: 2rem;
      row-gap: 1.5rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 950px) {
      padding: 1rem 0;
      align-self: end;

      img {
        width: auto;
        height: 100%;
        max-height: 350px;
      }
    }

    @media screen and (max-width: 540px) {

      img {
        max-height: 155px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4rem;

    @media screen and (max-width: 950px) {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      row-gap: 0;
      height: 100%;
    }
  }

  &__title {
    font-size: var(--heading-font-size);
    font-weight: 600;
  }

  &__subtitle {
    color: var(--black-50);
    opacity: 50%;
    font-weight: 600;
    font-size: var(--question-font-size);
    line-height: 116%;
  }
}